@import "tailwindcss";
@import "tailwindcss-intersect";

/* font */
/* @import "./base/fonts.css"; */

/* @theme */
@import "./theme/theme.css";

/* @utility */
@import "./utility/utility.css";

/* @apply */
@import "./apply/hover.css";
/* @import "./apply/animation.css"; */
/* @import "./apply/img.css"; */
/* @import "./apply/em.css"; */
/* @import "./apply/text-shadow.css"; */
/* @import "./apply/splide.css"; */
/* @import "./apply/text-flow.css"; */
/* @import "./apply/address.css"; */
/* @import "./apply/iframe.css"; */
/* @import "./apply/form.css"; */
