@theme {
  /* ブレイクポイント */
  --breakpoint-md: 768px;
  --breakpoint-lg: 1081px;
  --breakpoint-xl: 1281px;
  --breakpoint-2xl: 1440px;

  /* スペーシング */
  --spacing: 0.0625rem;

  /* フォント */
  --font-sans: "ZenKakuGothicNew", sans-serif;
  --font-serif: "ZenOldMincho", serif;
  --font-en: "LibreBaskerville", serif;
  --font-sen: "Sen", sans-serif;

  /* カラー */
  --color-black: #222;
  --color-primary: #00a0e9;
  --color-secondary: #f2f8f8;
  --color-required: #ff3b30;
  --color-dark-gray: #909090;
  --color-gray-blue: #f2f8f8;

  /* ラインハイト */
  --leading-100: 1;
  --leading-105: 1.05;
  --leading-110: 1.1;
  --leading-115: 1.15;
  --leading-120: 1.2;
  --leading-125: 1.25;
  --leading-130: 1.3;
  --leading-135: 1.35;
  --leading-140: 1.4;
  --leading-145: 1.45;
  --leading-150: 1.5;
  --leading-155: 1.55;
  --leading-160: 1.6;
  --leading-165: 1.65;
  --leading-170: 1.7;
  --leading-175: 1.75;
  --leading-180: 1.8;
  --leading-185: 1.85;
  --leading-190: 1.9;
  --leading-195: 1.95;
  --leading-200: 2;
  --leading-205: 2.05;
  --leading-210: 2.1;
  --leading-215: 2.15;
  --leading-220: 2.2;
  --leading-225: 2.25;
  --leading-230: 2.3;
  --leading-235: 2.35;
  --leading-240: 2.4;
  --leading-245: 2.45;
  --leading-250: 2.5;
  --leading-255: 2.55;
  --leading-260: 2.6;
  --leading-265: 2.65;
  --leading-270: 2.7;
  --leading-275: 2.75;
  --leading-280: 2.8;
  --leading-285: 2.85;
  --leading-290: 2.9;
  --leading-295: 2.95;
  --leading-300: 3;

  /* 角丸 */
  --radius-4: 0.25rem;
  --radius-6: 0.375rem;
  --radius-8: 0.5rem;
  --radius-12: 0.75rem;
  --radius-16: 1rem;
  --radius-20: 1.25rem;
  --radius-24: 1.5rem;
  --radius-32: 2rem;
  --radius-40: 2.5rem;
  --radius-48: 3rem;
  --radius-56: 3.5rem;
  --radius-64: 4rem;

  /* シャドウ */
  /* --shadow-primary: 0px 2px 6px rgba(0, 0, 0, 0.1); */

  /* アニメーション */
  /* --animate-marquee: marquee 30s linear infinite;
  --animate-scroll: scroll 2000ms ease-in-out infinite;
  --animate-fade-in-opacity: fade-in-opacity 500ms ease-in-out both;
  --animate-fade-in-right: fade-in-right 500ms ease-in-out both;
  --animate-fade-in-left: fade-in-left 500ms ease-in-out both;
  --animate-reveal-mask: reveal-mask 1000ms ease-in-out both;
  --animate-reveal-fade: fade-in-opacity 100ms 500ms ease-in-out both;
  --animate-circle: circle 500ms ease-in-out both;
  --animate-arrow-20: arrow-20 500ms ease-in-out both;
  --animate-arrow-12: arrow-12 500ms ease-in-out both;
  --animate-arrow-12-reverse: arrow-12-reverse 500ms ease-in-out both;
  --animate-rotate: rotate 12s linear infinite;
  --animate-blink: blink 2s ease-in-out infinite;
  --animate-width: width 2s ease-in-out both;
  --animate-progress: progress 5s linear both; */

  /* アニメーションキーフレーム */
  /* @keyframes progress {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  @keyframes reveal-mask {
    0% {
      width: 0;
      transform: translateX(0);
      opacity: 1;
    }
    40% {
      width: 100%;
      transform: translateX(0);
      opacity: 1;
    }
    60% {
      width: 100%;
      transform: translateX(0);
      opacity: 1;
    }
    99% {
      width: 100%;
      transform: translateX(100%);
      opacity: 1;
    }
    100% {
      width: 100%;
      transform: translateX(100%);
      opacity: 0;
    }
  }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes scroll {
    0% {
      transform: translateY(-100%);
    }
    40% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }
  @keyframes fade-in-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-40px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes width {
    from {
      max-width: 0;
    }
    to {
      max-width: 1200px;
    }
  }

  @keyframes circle {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: -100;
    }
  }

  @keyframes arrow-20 {
    0% {
      right: 20px;
    }
    75% {
      right: 20px;
    }
    100% {
      right: 8px;
    }
  }

  @keyframes arrow-12 {
    0% {
      right: 12px;
    }
    75% {
      right: 12px;
    }
    100% {
      right: 0px;
    }
  }

  @keyframes arrow-12-reverse {
    0% {
      left: 12px;
    }
    75% {
      left: 12px;
    }
    100% {
      left: 0px;
    }
  }

  @keyframes rotate {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }

  @keyframes blink {
    0% {
      opacity: 0;
      transform: translateY(-66%);
    }
    20% {
      opacity: 1;
      transform: translateY(-66%);
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-33%);
    }
  } */

  /* 背景画像 */
  /* --background-image-**: url("/assets/images/bg/**.webp"); */
}
